@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2r170y');
  src:  url('fonts/icomoon.eot?2r170y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2r170y') format('truetype'),
    url('fonts/icomoon.woff?2r170y') format('woff'),
    url('fonts/icomoon.svg?2r170y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e9c3";
}
.icon-icon_画板_02-33:before {
  content: "\e9c4";
}
.icon-strikethrough:before {
  /*content: "\e9c5";*/
}
.icon-icon_画板_02-35:before {
  content: "\e9c6";
}
.icon-spechars:before {
  content: "\e9c7";
}
.icon-anchor:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-blockquote:before {
  content: "\e902";
}
.icon-bold:before {
  /*content: "\e903";*/
}
.icon-cleardoc:before {
  content: "\e904";
}
.icon-directionalityltr:before {
  content: "\e905";
}
.icon-directionalityrtl:before {
  content: "\e906";
}
.icon-doc:before {
  content: "\e907";
}
.icon-drafts:before {
  content: "\e908";
}
.icon-emotion:before {
  content: "\e909";
}
.icon-fontborder:before {
  /*content: "\e90a";*/
}
.icon-formatmatch:before {
  content: "\e90b";
}
.icon-help:before {
  content: "\e90c";
}
.icon-imagecenter .path1:before {
  content: "\e90d";
  color: rgb(102, 102, 102);
}
.icon-imagecenter .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(102, 187, 191);
}
.icon-imagecenter .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imagecenter .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageleft .path1:before {
  content: "\e911";
  color: rgb(102, 102, 102);
}
.icon-imageleft .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(102, 187, 191);
}
.icon-imageleft .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageleft .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageleft .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageleft .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageleft .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imagenone .path1:before {
  content: "\e918";
  color: rgb(102, 102, 102);
}
.icon-imagenone .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(102, 187, 191);
}
.icon-imagenone .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imagenone .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imagenone .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageright .path1:before {
  content: "\e91d";
  color: rgb(102, 102, 102);
}
.icon-imageright .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(102, 187, 191);
}
.icon-imageright .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageright .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageright .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageright .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-imageright .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-insertorderedlist:before {
  content: "\e924";
}
.icon-insertunorderedlist:before {
  content: "\e925";
}
.icon-insertvideo:before {
  content: "\e926";
}
.icon-italic:before {
  /*content: "\e927";*/
}
.icon-justifycenter:before {
  content: "\e928";
}
.icon-justifyjustify:before {
  content: "\e929";
}
.icon-justifyleft:before {
  /*content: "\e92a";*/
}
.icon-justifyright:before {
  /*content: "\e92b";*/
}
.icon-left:before {
  content: "\e92c";
}
.icon-link:before {
  /*content: "\e92d";*/
}
.icon-music:before {
  content: "\e92e";
}
.icon-preview:before {
  content: "\e92f";
}
.icon-print:before {
  content: "\e930";
}
.icon-removeformat:before {
  content: "\e931";
}
.icon-right:before {
  content: "\e932";
}
.icon-scrawl:before {
  content: "\e933";
}
.icon-selectall:before {
  content: "\e934";
}
.icon-snapscreen:before {
  content: "\e935";
}
.icon-source:before {
  content: "\e936";
}
.icon-subscript:before {
  /*content: "\e937";*/
}
.icon-superscript:before {
  content: "\e938";
}
.icon-time:before {
  content: "\e939";
}
.icon-tolowercase:before {
  content: "\e93a";
}
.icon-touppercase:before {
  /*content: "\e93b";*/
}
.icon-underline:before {
  /*content: "\e93c";*/
}
.icon-unlink:before {
  content: "\e93d";
}
.icon-cut:before {
  content: "\e93e";
}
.icon-horizontal:before {
  content: "\e93f";
}
.icon-simpleupload:before {
  content: "\e940";
}
.icon-indent:before {
  content: "\e941";
}
.icon-outdent:before {
  content: "\e942";
}
.icon-splittocells:before {
  content: "\e943";
}
.icon-画板-1-副本-31:before {
  content: "\e944";
}
.icon-画板-1-副本-32:before {
  content: "\e945";
}
.icon-画板-1-副本-37:before {
  content: "\e946";
}
.icon-画板-1-副本-38:before {
  content: "\e947";
}
.icon-画板-1-副本-39:before {
  content: "\e948";
}
.icon-pasteplain:before {
  content: "\e949";
}
.icon-word:before {
  content: "\e94a";
}
.icon-save:before {
  content: "\e94b";
}
.icon-画板-1-副本-48:before {
  content: "\e94c";
}
.icon-check:before {
  content: "\e94d";
}
.icon-mergecells:before {
  content: "\e94e";
}
.icon-画板-1-副本-51:before {
  content: "\e94f";
}
.icon-画板-1-副本-52:before {
  content: "\e950";
}
.icon-画板-1-副本-53:before {
  content: "\e951";
}
.icon-画板-1-副本-54:before {
  content: "\e952";
}
.icon-deletecol:before {
  content: "\e953";
}
.icon-deleterow:before {
  content: "\e954";
}
.icon-deletetable .path1:before {
  content: "\e955";
  color: rgb(239, 72, 72);
}
.icon-deletetable .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-table:before {
  content: "\e957";
}
.icon-画板-1-副本-59 .path1:before {
  content: "\e958";
  color: rgb(153, 153, 153);
}
.icon-画板-1-副本-59 .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-59 .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-60:before {
  content: "\e95b";
}
.icon-画板-1-副本-63:before {
  content: "\e95c";
}
.icon-画板-1-副本-64:before {
  content: "\e95d";
}
.icon-mergedown:before {
  content: "\e95e";
}
.icon-splittorows:before {
  content: "\e95f";
}
.icon-splittocols:before {
  content: "\e960";
}
.icon-画板-1-副本-68 .path1:before {
  content: "\e961";
  color: rgb(239, 217, 160);
}
.icon-画板-1-副本-68 .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-69 .path1:before {
  content: "\e963";
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-69 .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(239, 217, 160);
}
.icon-画板-1-副本-69 .path3:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(239, 217, 160);
}
.icon-画板-1-副本-70:before {
  content: "\e966";
}
.icon-formula:before {
  content: "\e967";
}
.icon-画板-1-副本-72:before {
  content: "\e968";
}
.icon-insertframe:before {
  content: "\e969";
}
.icon-gmap:before {
  content: "\e96a";
}
.icon-画板-1-副本-75:before {
  content: "\e96b";
}
.icon-画板-1-副本-76:before {
  content: "\e96c";
}
.icon-画板-1-副本-77:before {
  content: "\e96d";
}
.icon-template:before {
  content: "\e96e";
}
.icon-画板-1-副本-79:before {
  content: "\e96f";
}
.icon-delete .path1:before {
  content: "\e970";
  color: rgb(239, 72, 72);
}
.icon-delete .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-画板-1-副本-82 .path1:before {
  content: "\e972";
  color: rgb(239, 72, 72);
}
.icon-画板-1-副本-82 .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(73, 114, 173);
}
.icon-edittable:before {
  content: "\e974";
}
.icon-code:before {
  /*content: "\e975";*/
}
.icon-pagebreak:before {
  content: "\e976";
}
.icon-画板-1-副本-90 .path1:before {
  content: "\e977";
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-90 .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-90 .path3:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(96, 191, 107);
}
.icon-画板-1-副本-92 .path1:before {
  content: "\e97a";
  color: none;
}
.icon-画板-1-副本-92 .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(102, 187, 191);
}
.icon-画板-1-副本-92 .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-92 .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-92 .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-92 .path6:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-93 .path1:before {
  content: "\e980";
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-93 .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-93 .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(73, 114, 173);
}
.icon-画板-1-副本-93 .path4:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(73, 114, 173);
}
.icon-画板-1-副本-93 .path5:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(73, 114, 173);
}
.icon-edittd .path1:before {
  content: "\e985";
  color: rgb(102, 102, 102);
}
.icon-edittd .path2:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(226, 181, 121);
}
.icon-edittd .path3:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-lineheight:before {
  content: "\e988";
}
.icon-rowspacingbottom:before {
  content: "\e989";
}
.icon-rowspacingtop:before {
  content: "\e98a";
}
.icon-画板-1-副本-99:before {
  content: "\e98b";
}
.icon-画板-1-副本-2:before {
  content: "\e98c";
}
.icon-画板-1-副本-3:before {
  content: "\e98d";
}
.icon-画板-1-副本-4:before {
  content: "\e98e";
}
.icon-aligntd:before {
  content: "\e98f";
}
.icon-画板-1-副本-6:before {
  content: "\e990";
}
.icon-画板-1-副本-7 .path1:before {
  content: "\e991";
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-7 .path2:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(28, 124, 89);
}
.icon-画板-1-副本-7 .path3:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-7 .path4:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-8 .path1:before {
  content: "\e995";
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-8 .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-8 .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-8 .path4:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(239, 72, 72);
}
.icon-insertparagraphtrue:before {
  content: "\e999";
}
.icon-画板-1-副本-10:before {
  content: "\e99a";
}
.icon-画板-1-副本-11:before {
  content: "\e99b";
}
.icon-画板-1-副本-12:before {
  content: "\e99c";
}
.icon-insertcol:before {
  content: "\e99d";
}
.icon-insertrow:before {
  content: "\e99e";
}
.icon-画板-1-副本-15:before {
  content: "\e99f";
}
.icon-画板-1-副本-16:before {
  content: "\e9a0";
}
.icon-insertcaption .path1:before {
  content: "\e9a1";
  color: rgb(28, 124, 89);
}
.icon-insertcaption .path2:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-insertcaption .path3:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-deletecaption .path1:before {
  content: "\e9a4";
  color: rgb(239, 72, 72);
}
.icon-deletecaption .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-deletecaption .path3:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-画板-1-副本-19:before {
  content: "\e9a7";
}
.icon-画板-1-副本-20:before {
  content: "\e9a8";
}
.icon-insertparagraph:before {
  content: "\e9a9";
}
.icon-画板-1-副本-22:before {
  content: "\e9aa";
}
.icon-inserttitlecol .path1:before {
  content: "\e9ab";
  color: rgb(102, 102, 102);
}
.icon-inserttitlecol .path2:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(28, 124, 89);
}
.icon-inserttitlecol .path3:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-inserttitlecol .path4:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-deletetitlecol .path1:before {
  content: "\e9af";
  color: rgb(239, 72, 72);
}
.icon-deletetitlecol .path2:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-deletetitlecol .path3:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-deletetitlecol .path4:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-insertimage:before {
  content: "\e9b3";
}
.icon-date .path1:before {
  content: "\e9b4";
  color: rgb(102, 102, 102);
}
.icon-date .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(239, 72, 72);
}
.icon-date .path3:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-date .path4:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-date .path5:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-date .path6:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-date .path7:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-date .path8:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(239, 72, 72);
}
.icon-画板-1-副本-27:before {
  content: "\e9bc";
}
.icon-画板-1-副本-28:before {
  content: "\e9bd";
}
.icon-画板-1-副本-29:before {
  content: "\e9be";
}
.icon-画板-1-副本-30:before {
  content: "\e9bf";
}
.icon-mergeright:before {
  content: "\e9c0";
}
.icon-画板-1 .path1:before {
  content: "\e9c1";
  color: rgb(239, 72, 72);
}
.icon-画板-1 .path2:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}

